.input {

  &:hover {
    border-color: var(--mantine-primary-color-5);
  }

  &:has(.innerInput:not(:placeholder-shown):not([value=""])) {
    border-color: var(--mantine-primary-color-5);
  }
}

.innerInput {
  caret-color: var(--mantine-primary-color-5);
}