.images {
    --multiplier: 1px;

    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1440px) {
        --multiplier: calc(100vw / 1440);
    }

    @media (max-width: 767px) {
        --multiplier: calc(100vw / 767);
    }
}

.images .frame {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: content-box;

    height: calc(300 * var(--multiplier));
    width: calc(448 * var(--multiplier));

    padding-left: calc(50 * var(--multiplier));
    padding-right: calc(50 * var(--multiplier));

    padding-bottom: calc(39 * var(--multiplier));
}

.images .shop {
    z-index: 2;

    height: calc(300 * var(--multiplier));
    width: calc(448 * var(--multiplier));
}

.images .card1 {
    position: absolute;

    bottom: calc(10 * var(--multiplier));
    left: calc(14 * var(--multiplier));

    transform: rotate(-15deg);

    width: calc(100 * var(--multiplier));
}

.images .card2 {
    position: absolute;

    bottom: calc(10 * var(--multiplier));
    right: calc(14 * var(--multiplier));

    transform: rotate(15deg);

    width: calc(100 * var(--multiplier));
}

.space {
    @media (min-width: 1440px) {
        display: block;
    }

    @media (max-width: 767px) {
        display: block;
    }
}