.root {
  --caret-color: inherit;
  --brd__hover: inherit;
  --brd__focus: inherit;
  --brd__filled: inherit;
}

.input {
  caret-color: var(--caret-color);

  &:hover {
    border-color: var(--brd__hover);
  }

  &:focus {
    border-color: var(--brd__focus);
  }

  &:not(:placeholder-shown):not([value=""]) {
    border-color: var(--brd__filled);
  }
}